services:
  budget-app:
    build: . # Ou image: votre-repo/budget:latest
    container_name: budget_app
    # network_mode: host # Désactivé pour permettre le mapping de port
    ports:
      - "8097:8090" # Port Externe : Port Interne (8090)
    volumes:
      - ./pb_data:/pb/pb_data # Données persistantes dans le dossier courant
      # - /volume1/docker/budget/pb_data:/pb/pb_data # Exemple Synology absolu
    restart: unless-stopped
